/* line 7, sass/jquery.xycal.scss */
.ui-xycal {
  background: transparent;
  margin: 0 auto 30px auto;
  border-collapse: collapse;
  width: 280px;
}
/* line 13, sass/jquery.xycal.scss */
.ui-xycal th, .ui-xycal td {
  font-family: "Trebuchet MS", Serif;
  font-weight: bold;
  font-size: 70%;
  width: 14%;
  color: #aaa;
}
/* line 20, sass/jquery.xycal.scss */
.ui-xycal th.ui-xycal-title, .ui-xycal td.ui-xycal-title {
  font-size: 100%;
  color: #666;
}
/* line 24, sass/jquery.xycal.scss */
.ui-xycal th.ui-xycal-shift, .ui-xycal td.ui-xycal-shift {
  font-size: 70%;
  font-weight: bolder;
  color: #333;
  cursor: pointer;
  height: 28px;
}
/* line 30, sass/jquery.xycal.scss */
.ui-xycal th.ui-xycal-shift span, .ui-xycal td.ui-xycal-shift span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 5.6px;
}
/* line 36, sass/jquery.xycal.scss */
.ui-xycal th.ui-xycal-shift span.left, .ui-xycal td.ui-xycal-shift span.left {
  background: url(../js/jquery/images/icons-18-black-pack.png) -144px 0 transparent;
}
/* line 39, sass/jquery.xycal.scss */
.ui-xycal th.ui-xycal-shift span.right, .ui-xycal td.ui-xycal-shift span.right {
  background: url(../js/jquery/images/icons-18-black-pack.png) -108px 0 transparent;
}
/* line 45, sass/jquery.xycal.scss */
.ui-xycal td {
  height: 40px;
  background: #D3D2D7;
  color: #3F4E5E;
  text-align: center;
  border: 1px solid #A3A7AF;
  cursor: pointer;
  font-size: 85%;
}
/* line 55, sass/jquery.xycal.scss */
.ui-xycal td span {
  display: inline-block;
  float: left;
  width: 100%;
  padding-top: 0.4px;
  margin-top: -12px;
  margin-bottom: -16px;
  font-size: 120%;
}
/* line 66, sass/jquery.xycal.scss */
.ui-xycal td.ui-xycal-today, .ui-xycal td:active, .ui-xycal td.ui-xycal-selected {
  background: #1980E5;
  vertical-align: middle;
  color: #fff;
  -webkit-box-shadow: rgba(36, 64, 101, 0.5) 0 0 3px 3px inset;
  -moz-box-shadow: rgba(36, 64, 101, 0.5) 0 0 3px 3px inset;
  box-shadow: rgba(36, 64, 101, 0.5) 0 0 3px 3px inset;
}
/* line 75, sass/jquery.xycal.scss */
.ui-xycal td:active, .ui-xycal td.ui-xycal-selected {
  background: #7188A8;
}
/* line 80, sass/jquery.xycal.scss */
.ui-xycal td.ui-xycal-others {
  color: #aaa;
}

@media only screen and (min-width: 480px) {
  /* line 89, sass/jquery.xycal.scss */
  .ui-xycal {
    width: 440px;
  }
  /* line 91, sass/jquery.xycal.scss */
  .ui-xycal th, .ui-xycal td {
    font-size: 70%;
  }
  /* line 93, sass/jquery.xycal.scss */
  .ui-xycal th.ui-xycal-title, .ui-xycal td.ui-xycal-title {
    font-size: 150%;
  }
  /* line 96, sass/jquery.xycal.scss */
  .ui-xycal th.ui-xycal-shift, .ui-xycal td.ui-xycal-shift {
    height: 44px;
    font-size: 100%;
    font-weight: bolder;
    color: #333;
  }
  /* line 103, sass/jquery.xycal.scss */
  .ui-xycal td {
    font-size: 120%;
    height: 62.857px;
  }
  /* line 106, sass/jquery.xycal.scss */
  .ui-xycal td span {
    padding-top: 0.629px;
    margin-top: -12.571px;
    margin-bottom: -25.143px;
    font-size: 120%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 119, sass/jquery.xycal.scss */
  .ui-xycal {
    width: 728px;
  }
  /* line 121, sass/jquery.xycal.scss */
  .ui-xycal th, .ui-xycal td {
    font-size: 80%;
  }
  /* line 123, sass/jquery.xycal.scss */
  .ui-xycal th.ui-xycal-title, .ui-xycal td.ui-xycal-title {
    font-size: 150%;
  }
  /* line 126, sass/jquery.xycal.scss */
  .ui-xycal th.ui-xycal-shift, .ui-xycal td.ui-xycal-shift {
    height: 72.8px;
    font-size: 100%;
    font-weight: bolder;
    color: #333;
  }
  /* line 131, sass/jquery.xycal.scss */
  .ui-xycal th.ui-xycal-shift span, .ui-xycal td.ui-xycal-shift span {
    width: 36px;
    height: 36px;
  }
  /* line 135, sass/jquery.xycal.scss */
  .ui-xycal th.ui-xycal-shift span.left, .ui-xycal td.ui-xycal-shift span.left {
    background: url(../js/jquery/images/icons-36-black-pack.png) -288px 0 transparent;
  }
  /* line 138, sass/jquery.xycal.scss */
  .ui-xycal th.ui-xycal-shift span.right, .ui-xycal td.ui-xycal-shift span.right {
    background: url(../js/jquery/images/icons-36-black-pack.png) -216px 0 transparent;
  }
  /* line 143, sass/jquery.xycal.scss */
  .ui-xycal td {
    font-size: 150%;
    height: 104px;
  }
  /* line 146, sass/jquery.xycal.scss */
  .ui-xycal td span {
    padding-top: 5.2px;
    margin-top: -10.4px;
    margin-bottom: -41.6px;
    font-size: 120%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 159, sass/jquery.xycal.scss */
  .ui-xycal {
    width: 984px;
  }
  /* line 161, sass/jquery.xycal.scss */
  .ui-xycal th, .ui-xycal td {
    font-size: 100%;
  }
  /* line 163, sass/jquery.xycal.scss */
  .ui-xycal th.ui-xycal-title, .ui-xycal td.ui-xycal-title {
    font-size: 170%;
  }
  /* line 166, sass/jquery.xycal.scss */
  .ui-xycal th.ui-xycal-shift, .ui-xycal td.ui-xycal-shift {
    height: 98.4px;
    font-size: 150%;
    font-weight: bolder;
    color: #333;
  }
  /* line 173, sass/jquery.xycal.scss */
  .ui-xycal td {
    font-size: 200%;
    height: 137.76px;
  }
  /* line 176, sass/jquery.xycal.scss */
  .ui-xycal td span {
    padding-top: 6.888px;
    margin-top: -15.6px;
    margin-bottom: -55.104px;
    font-size: 120%;
  }
}
/* line 6, sass/rho.xycal.scss */
.ui-xycal th.ui-xycal-shift span.left, .ui-xycal td.ui-xycal-shift span.left {
  background: url(../jqmobile/images/icons-18-black-pack.png) -144px 0 transparent;
}
/* line 9, sass/rho.xycal.scss */
.ui-xycal th.ui-xycal-shift span.right, .ui-xycal td.ui-xycal-shift span.right {
  background: url(../jqmobile/images/icons-18-black-pack.png) -108px 0 transparent;
}

@media only screen and (min-width: 768px) {
  /* line 20, sass/rho.xycal.scss */
  .ui-xycal th.ui-xycal-shift span.left, .ui-xycal td.ui-xycal-shift span.left {
    background: url(../jqmobile/images/icons-36-black-pack.png) -288px 0 transparent;
  }
  /* line 23, sass/rho.xycal.scss */
  .ui-xycal th.ui-xycal-shift span.right, .ui-xycal td.ui-xycal-shift span.right {
    background: url(../jqmobile/images/icons-36-black-pack.png) -216px 0 transparent;
  }
}
