@import "compass";
@import "compass/css3";

#nottys {
    top: 10%;

    p {
        margin: 3px;
        text-align: center;
        font-size: 110%;
        font-weight: bold;
    }

    .notty {
        padding: 10px;
    }

    .notty.alert {
        background: black;
        background: rgba(0,0,0,.7);
        color: white;
        text-shadow: black 0px 0px 2px;
        border: 1px solid black;
        border: 1px solid rgba(0,0,0,.7);
    }

    .notty.error {
        background: #F66;
        background: rgba(255,102,102,.7);
        color: #293134;
        text-shadow: #333 0px 0px 1px;
        border: 1px solid #FF1A1A;
        border: 1px solid rgba(255,26,26,.7);
    }

    .notty.info {
        background: #FFEC9A;
        background: rgba(255,236,154,.7);
        color: #293134;
        text-shadow: #333 0px 0px 1px;
        border: 1px solid #FFCF00;
        border: 1px solid rgba(255,207,0,.7);
    }
}

@media only screen {

    @media (min-width: 480px) {
        #nottys {
            p { font-size: 120%; }
        }
    }

    @media (min-width: 768px) {
        #nottys {
            p { font-size: 130%; }
        }
    }

    @media (min-width: 1024px) {
        #nottys {
            p { font-size: 150%; }
        }
    }

}